In [74]:
import pandas as pd
import ast

In [75]:
df_org = pd.read_csv('src/access/WalkerDelta/walker_delta_sats_min_seq_31days.csv')
df_org['sats'] = df_org['sats'].apply(lambda x: ast.literal_eval(x))
df_org['real_idx'] = df_org['real_idx'].apply(lambda x: ast.literal_eval(x))
df_org['train_time_indiv'] = df_org['train_time_indiv'].apply(lambda x: ast.literal_eval(x))

In [76]:
df_org

,sequence,sats,real_idx,cost_time,train_time_indiv
0,907 || 097,"[0, 7, 9]","[2, 16, 65, 93, 121, 183]",905,"[595, 385, 590]"
1,60978 || 09678,"[0, 6, 7, 8, 9]","[6, 220, 243, 301, 305, 333, 366, 414, 420, 422]",2080,"[2040, 565, 615, 595, 585]"
2,697804 || 967840,"[0, 4, 6, 7, 8, 9]","[6, 243, 301, 305, 341, 343, 366, 414, 420, 42...",2260,"[2040, 615, 595, 585, 585, 570]"
3,790 || 709,"[0, 7, 9]","[65, 121, 141, 183, 212, 243]",890,"[590, 610, 355]"
4,907 || 097,"[0, 7, 9]","[121, 141, 183, 212, 243, 301]",900,"[610, 355, 590]"
...,...,...,...,...,...
115831,2671 || 2671,"[1, 2, 6, 7]","[535464, 535532, 535548, 535557, 535586, 53566...",1065,"[610, 645, 595, 600]"
115832,267 || 267,"[2, 6, 7]","[535464, 535532, 535548, 535586, 535661, 535667]",1015,"[610, 645, 595]"
115833,261 || 261,"[1, 2, 6]","[535464, 535532, 535557, 535586, 535661, 535677]",1065,"[610, 645, 600]"
115834,271 || 271,"[1, 2, 7]","[535464, 535548, 535557, 535586, 535667, 535677]",1065,"[610, 595, 600]"
115835,671 || 671,"[1, 6, 7]","[535532, 535548, 535557, 535661, 535667, 535677]",725,"[645, 595, 600]"

In [77]:
type(df_org['sats'].iloc[0])
df_org['start_idx'] = df_org['real_idx'].apply(lambda x: x[0])
df_org['end_idx'] = df_org['real_idx'].apply(lambda x: x[-1])
# df_org = df_org[df_org['real_idx'].apply(lambda x: x[-1] <= 7 * 24 * 60 * 60 /5)]
df = df_org.copy()
# df = df[df['real_idx'].apply(lambda x: x[-1] <= 7 * 24 * 60 * 60 /5)]

In [78]:
df

,sequence,sats,real_idx,cost_time,train_time_indiv,start_idx,end_idx
0,907 || 097,"[0, 7, 9]","[2, 16, 65, 93, 121, 183]",905,"[595, 385, 590]",2,183
1,60978 || 09678,"[0, 6, 7, 8, 9]","[6, 220, 243, 301, 305, 333, 366, 414, 420, 422]",2080,"[2040, 565, 615, 595, 585]",6,422
2,697804 || 967840,"[0, 4, 6, 7, 8, 9]","[6, 243, 301, 305, 341, 343, 366, 414, 420, 42...",2260,"[2040, 615, 595, 585, 585, 570]",6,458
3,790 || 709,"[0, 7, 9]","[65, 121, 141, 183, 212, 243]",890,"[590, 610, 355]",65,243
4,907 || 097,"[0, 7, 9]","[121, 141, 183, 212, 243, 301]",900,"[610, 355, 590]",121,301
...,...,...,...,...,...,...,...
115831,2671 || 2671,"[1, 2, 6, 7]","[535464, 535532, 535548, 535557, 535586, 53566...",1065,"[610, 645, 595, 600]",535464,535677
115832,267 || 267,"[2, 6, 7]","[535464, 535532, 535548, 535586, 535661, 535667]",1015,"[610, 645, 595]",535464,535667
115833,261 || 261,"[1, 2, 6]","[535464, 535532, 535557, 535586, 535661, 535677]",1065,"[610, 645, 600]",535464,535677
115834,271 || 271,"[1, 2, 7]","[535464, 535548, 535557, 535586, 535667, 535677]",1065,"[610, 595, 600]",535464,535677
115835,671 || 671,"[1, 6, 7]","[535532, 535548, 535557, 535661, 535667, 535677]",725,"[645, 595, 600]",535532,535677

In [79]:
dfM = df.copy()
dfM.sort_values(by=['end_idx'],inplace=True)
dfM

,sequence,sats,real_idx,cost_time,train_time_indiv,start_idx,end_idx
0,907 || 097,"[0, 7, 9]","[2, 16, 65, 93, 121, 183]",905,"[595, 385, 590]",2,183
3,790 || 709,"[0, 7, 9]","[65, 121, 141, 183, 212, 243]",890,"[590, 610, 355]",65,243
4,907 || 097,"[0, 7, 9]","[121, 141, 183, 212, 243, 301]",900,"[610, 355, 590]",121,301
5,970 || 970,"[0, 7, 9]","[121, 183, 220, 243, 301, 333]",1060,"[610, 590, 565]",121,333
6,709 || 709,"[0, 7, 9]","[183, 220, 243, 301, 333, 366]",915,"[590, 565, 615]",183,366
...,...,...,...,...,...,...,...
115832,267 || 267,"[2, 6, 7]","[535464, 535532, 535548, 535586, 535661, 535667]",1015,"[610, 645, 595]",535464,535667
115834,271 || 271,"[1, 2, 7]","[535464, 535548, 535557, 535586, 535667, 535677]",1065,"[610, 595, 600]",535464,535677
115831,2671 || 2671,"[1, 2, 6, 7]","[535464, 535532, 535548, 535557, 535586, 53566...",1065,"[610, 645, 595, 600]",535464,535677
115833,261 || 261,"[1, 2, 6]","[535464, 535532, 535557, 535586, 535661, 535677]",1065,"[610, 645, 600]",535464,535677
115835,671 || 671,"[1, 6, 7]","[535532, 535548, 535557, 535661, 535667, 535677]",725,"[645, 595, 600]",535532,535677

In [80]:
indexs = [0]
end_time = dfM['real_idx'].iloc[0][-1]
# inde
for index, row in dfM.iterrows():
    if row['real_idx'][0] >= end_time:
        indexs.append(index)
        end_time = row['real_idx'][-1]

dfM = dfM.loc[indexs].reset_index()
# Most Scheduled Sats
dfM['sats'].explode().value_counts(),dfM['sats'].apply(len).value_counts()

(sats
 1    930
 5    928
 9    922
 4    922
 2    920
 3    919
 0    917
 7    911
 6    903
 8    898
 Name: count, dtype: int64,
 sats
 3    3054
 4       2
 Name: count, dtype: int64)

In [81]:
indexs = [0]
end_time = df_org['real_idx'].iloc[0][-1]
# inde
for index, row in df_org.iterrows():
    if row['real_idx'][0] >= end_time:
        indexs.append(index)
        end_time = row['real_idx'][-1]

df_schedule = df_org.loc[indexs].reset_index()
df_schedule

,index,sequence,sats,real_idx,cost_time,train_time_indiv,start_idx,end_idx
0,0,907 || 097,"[0, 7, 9]","[2, 16, 65, 93, 121, 183]",905,"[595, 385, 590]",2,183
1,6,709 || 709,"[0, 7, 9]","[183, 220, 243, 301, 333, 366]",915,"[590, 565, 615]",183,366
2,66,67840 || 67840,"[0, 4, 6, 7, 8]","[414, 420, 422, 457, 463, 531, 540, 541, 554, ...",865,"[585, 600, 595, 485, 620]",414,587
3,137,6874 || 6874,"[4, 6, 7, 8]","[649, 661, 662, 709, 769, 783, 785, 787]",690,"[600, 610, 615, 390]",649,787
4,208,426187 || 426187,"[1, 2, 4, 6, 7, 8]","[787, 808, 889, 905, 906, 912, 914, 922, 994, ...",1725,"[635, 570, 525, 570, 640, 1100]",787,1132
...,...,...,...,...,...,...,...,...
2342,115622,84067 || 84067,"[0, 4, 6, 7, 8]","[534607, 534641, 534646, 534716, 534725, 53472...",1195,"[595, 500, 620, 590, 605]",534607,534846
2343,115676,7468 || 7468,"[4, 6, 7, 8]","[534846, 534890, 534953, 534966, 534968, 53497...",1215,"[610, 405, 570, 615]",534846,535089
2344,115766,81726 || 18267,"[1, 2, 6, 7, 8]","[535089, 535092, 535093, 535108, 535194, 53520...",1150,"[630, 565, 1130, 585, 505]",535089,535319
2345,115807,7126 || 7126,"[1, 2, 6, 7]","[535319, 535321, 535343, 535413, 535432, 53543...",1065,"[565, 585, 605, 595]",535319,535532
2346,115835,671 || 671,"[1, 6, 7]","[535532, 535548, 535557, 535661, 535667, 535677]",725,"[645, 595, 600]",535532,535677

In [82]:
df_schedule['sats'].explode().value_counts(), df_schedule['sats'].apply(len).value_counts()

(sats
 0    990
 9    990
 1    990
 3    978
 8    977
 7    969
 2    967
 6    961
 5    960
 4    949
 Name: count, dtype: int64,
 sats
 4    1106
 5     714
 3     475
 6      52
 Name: count, dtype: int64)

In [83]:
df_schedule

,index,sequence,sats,real_idx,cost_time,train_time_indiv,start_idx,end_idx
0,0,907 || 097,"[0, 7, 9]","[2, 16, 65, 93, 121, 183]",905,"[595, 385, 590]",2,183
1,6,709 || 709,"[0, 7, 9]","[183, 220, 243, 301, 333, 366]",915,"[590, 565, 615]",183,366
2,66,67840 || 67840,"[0, 4, 6, 7, 8]","[414, 420, 422, 457, 463, 531, 540, 541, 554, ...",865,"[585, 600, 595, 485, 620]",414,587
3,137,6874 || 6874,"[4, 6, 7, 8]","[649, 661, 662, 709, 769, 783, 785, 787]",690,"[600, 610, 615, 390]",649,787
4,208,426187 || 426187,"[1, 2, 4, 6, 7, 8]","[787, 808, 889, 905, 906, 912, 914, 922, 994, ...",1725,"[635, 570, 525, 570, 640, 1100]",787,1132
...,...,...,...,...,...,...,...,...
2342,115622,84067 || 84067,"[0, 4, 6, 7, 8]","[534607, 534641, 534646, 534716, 534725, 53472...",1195,"[595, 500, 620, 590, 605]",534607,534846
2343,115676,7468 || 7468,"[4, 6, 7, 8]","[534846, 534890, 534953, 534966, 534968, 53497...",1215,"[610, 405, 570, 615]",534846,535089
2344,115766,81726 || 18267,"[1, 2, 6, 7, 8]","[535089, 535092, 535093, 535108, 535194, 53520...",1150,"[630, 565, 1130, 585, 505]",535089,535319
2345,115807,7126 || 7126,"[1, 2, 6, 7]","[535319, 535321, 535343, 535413, 535432, 53543...",1065,"[565, 585, 605, 595]",535319,535532
2346,115835,671 || 671,"[1, 6, 7]","[535532, 535548, 535557, 535661, 535667, 535677]",725,"[645, 595, 600]",535532,535677

In [84]:
period = 51840 / 3 / 24
df_schedule3 = df_schedule[df_schedule['real_idx'].apply(lambda x: all(i < period for i in x)) ]
df_schedule3

,index,sequence,sats,real_idx,cost_time,train_time_indiv,start_idx,end_idx
0,0,907 || 097,"[0, 7, 9]","[2, 16, 65, 93, 121, 183]",905,"[595, 385, 590]",2,183
1,6,709 || 709,"[0, 7, 9]","[183, 220, 243, 301, 333, 366]",915,"[590, 565, 615]",183,366
2,66,67840 || 67840,"[0, 4, 6, 7, 8]","[414, 420, 422, 457, 463, 531, 540, 541, 554, ...",865,"[585, 600, 595, 485, 620]",414,587

In [85]:
df_schedule3['sats'].explode().value_counts()

sats
0    3
7    3
9    2
4    1
6    1
8    1
Name: count, dtype: int64